<f:security.ifAccess privilegeTarget="TYPO3.Neos:Backend.GeneralAccess">
    <f:then>
        <p>The Frontend User Profile is disabled in backend mode.</p>
    </f:then>
    <f:else>
        <f:flashMessages class="flashmessages"/>
        <f:form action="update" object="{user}" objectName="user">
            <fieldset>
                <f:render partial="User/NameFormFields" arguments="{_all}"/>
                <label for="username">Username</label>
                <f:form.textfield id="username" value="{account.accountIdentifier}" readonly="readonly"/>
            </fieldset>
            <f:form.button type="submit">Update</f:form.button>
        </f:form>
    </f:else>
</f:security.ifAccess>

